.content {
  display: flex;
  flex: 1;
  gap: 2rem;
  margin: 0 5rem;
}

.listWrapper {
  flex: 1 1 70%;
}

.detailsWrapper {
  flex: 1 1 30%;
  position: sticky;
  top: 0;
  height: 100vh;
}

@media (max-width: 768px) {
  .detailsWrapper {
    display: none;
  }
  .content {
    margin: 0;
  }
}

@media (min-width: 768px) {
  .modalWrapper {
    display: none;
  }
}

.message {
  margin: 1rem 11vw;
}
