.skeleton {
  display: block;
  background-color: #ddd;
  animation: loading 1.5s infinite linear;
}

@keyframes loading {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}

/* Different variants */
.skeleton.text {
  height: 20px;
  margin-bottom: 10px;
}

.skeleton.image {
  height: 200px;
  width: 100%;
  margin-bottom: 20px;
}

.skeleton.block {
  height: 12px;
  width: 80%;
  margin-bottom: 10px;
}

.skeleton.circle {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
