.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.1rem 1rem;
  background-color: #f8f9fa;
  border-bottom: 1px solid #e9ecef;
  gap: 2rem;
}

.title {
  font-size: 1.2rem;
  color: #343a40;
}

.avatar img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.logoLink {
  max-height: 48px;
}

.logo {
  max-width: 80px;
}

.search {
  display: flex;
  align-items: end;
  gap: 1rem;
}

.inputStyle {
  padding: 6px;
  padding-left: 2.2rem;
}

.searchWrapper {
  width: 400px;
}

@media (max-width: 768px) {
  .searchWrapper {
    width: auto;
  }
}
